* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

:root {
  --bg-primary: #5a5aa1;
  --bg-secondary: #3d3d5c;
  --bg-transparent: #5a5aa1ef;
  
  --btn-primary: #0f254c;
  
  --color-primary: #eee;

}